@model Otter.Models.ArticleEditModel
@{
  ViewBag.Title = "Edit " + @Model.Title;
}
<h1 class="title">@Model.Title</h1>
@using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { id = "edit-form" }))
{
  <div class="editor-label">@Html.LabelFor(m => m.Title):</div>
  <div class="editor-field">@Html.EditorFor(m => m.Title) @Html.ValidationMessageFor(m => m.Title)</div>
  <div class="editor-label">Edit the article text using <a href="#">Markdown syntax</a>:</div>
  <div>@Html.ValidationMessageFor(m => m.Text)</div>
  <div class="editor-field">@Html.TextAreaFor(m => m.Text)</div>
  <div class="editor-label">@Html.LabelFor(m => m.Security):</div>
  <div class="editor-field">@Html.EditorFor(m => m.Security) @Html.ValidationMessageFor(m => m.Security)</div>
  <div class="editor-label">@Html.LabelFor(m => m.Tags):</div>
  <div class="editor-field">@Html.EditorFor(m => m.Tags) @Html.ValidationMessageFor(m => m.Tags)</div>
  <div class="editor-label">@Html.LabelFor(m => m.Comment):</div>
  <div class="editor-field">@Html.EditorFor(m => m.Comment) @Html.ValidationMessageFor(m => m.Comment)</div>
  @Html.HiddenFor(m => m.ArticleId)
  @Html.HiddenFor(m => m.UpdatedBy)
  @Html.HiddenFor(m => m.UpdatedDtm)
  @Html.HiddenFor(m => m.Revision)
  @Html.HiddenFor(m => m.UrlTitle)
  <input type="submit" value="Save changes" class="submit-button" />
}
@section head
{
  <style type="text/css">
    textarea#Text {
      width: 100%;
      height: 300px;
    }
    #Title, #Tags, #Comment {
      width: 450px;
    }
    input.submit-button {
      margin-top: 1em;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function () {

      $('#edit-form').submit(function () {
        if ($('#Comment').val().length == 0 && !confirm('Are you sure you wish to submit your changes without a comment?')) {
          return false;
        }
      });
    });
  </script>
}
