@model Otter.Models.ArticleReadModel
@{
  ViewBag.Title = Model.Title;
}
<div class="actions">
  @Html.ActionLink("Edit article", "Edit", new { id = Model.UrlTitle }, new { @class = "edit-button" })
  @Html.ActionLink("View history", "History", new { id = Model.UrlTitle }, new { @class = "history-button" })
</div>
<h1 class="title@{if (Model.Tags.Any()) {<text> with-tags</text>}}">@ViewBag.Title</h1>
@if (Model.Tags.Any())
{
  <ul class="tags article-tags">
    @foreach (var tag in Model.Tags)
    {
      <li>@Html.ActionLink(tag, "Tagged", new { id = tag })</li>
    }
  </ul>
}
<div class="content">
  @Html.Raw(Model.Html)
</div>
<p class="authorship">@string.Format("Revision {0:N0}; last updated {1:g}{2}", Model.Revision, Model.UpdatedDtm, string.IsNullOrEmpty(Model.UpdatedBy) ? string.Empty : " by " + Model.UpdatedByDisplayName ?? Model.UpdatedBy)</p>
@section head
{
  <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/Prettify/prettify.css")" />
  <script src="@Url.Content("~/Scripts/Prettify/prettify.js")"></script>
  <script type="text/javascript">

    var selectCode = function (elementId) {
      if (document.body.createTextRange) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(elementId));
        range.select();
      } else if (window.getSelection) {
        var selection = window.getSelection();
        var range = document.createRange();
        range.selectNodeContents(document.getElementById(elementId));
        selection.removeAllRanges();
        selection.addRange(range);
      }
    };

    $(document).ready(function () {
      $('code').addClass("prettyprint");

      $('pre > code').parent().each(function (index) {
        $(this).addClass("prettyprint");
        $(this).attr('id', 'codeblock-' + index);
        $(this).after($('<a/>', {
          href: "javascript:selectCode('codeblock-" + index + "')",
          text: "Select code",
          "class": "select-all"
        }))
      });

      prettyPrint();
    });
  </script>
}
