@model Otter.Models.ArticleReadModel
@{
  ViewBag.Title = Model.Title;
}
<div class="actions no-print">
  @Html.ActionLink("Edit article", "Edit", new { id = Model.UrlTitle })
  @Html.ActionLink("View history", "History", new { id = Model.UrlTitle })
</div>
<h1 class="title@{if (Model.Tags.Any()) {<text> with-tags</text>} else {<text> no-tags</text>}}">@ViewBag.Title</h1>
@if (Model.Tags.Any())
{
  <ul class="tags article-tags">
    @foreach (var tag in Model.Tags)
    {
      <li>@Html.ActionLink(tag, "Tagged", new { id = tag })</li>
    }
  </ul>
}
<div id="article-content">
  @Html.Raw(Model.Html)
</div>
<p class="authorship">@string.Format("Revision {0:N0}; last updated {1:g}{2}", Model.Revision, Model.UpdatedDtm, string.IsNullOrEmpty(Model.UpdatedBy) ? string.Empty : " by " + Model.UpdatedByDisplayName ?? Model.UpdatedBy)</p>
@section head
{
  <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/Prettify/prettify.css")" />
  <script type="text/javascript" src="@Url.Content("~/Scripts/Prettify/prettify.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/content-format.js")"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      applyContentFormat($("#article-content"));
    });
  </script>
}
