<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/main.css")" />
  <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/themes/otter/jquery-ui-1.10.4.custom.min.css")" />
  <script type="text/javascript">
    var SITE_ROOT = '@Url.Content("~/")';
  </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.11.0.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.4.custom.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/main.js")"></script>
  @RenderSection("head", false)
</head>
<body>
  <div class="inner-top top">
    <div class="header">
      <div class="header-logo">
        <a href="@Url.Action("Index", "Article")">
          <img id="logo" src="@Url.Content("~/Content/images/logo.png")" alt="Otter knowledge base and wiki" /></a>
      </div>
      <div class="header-links">
        @Html.ActionLink("List articles by tag", "ListTags", "Article", null, new { @class = "normal" })
        @Html.ActionLink("Create new article", "Create", "Article", null, new { @class = "normal" })
        @using (Html.BeginForm("Search", "Article", FormMethod.Get, new { id = "search-form" }))
        {
          <input type="text" class="query-search" name="query" />
          <input type="submit" class="query-submit" value="Search" />
        }
      </div>
    </div>
  </div>
  <div class="main-content">
    @RenderBody()
  </div>
  <div id="footer">
    <p>Otter is an open-source, quick-to-deploy, and simple-to-maintain basic knowledge base and wiki, intended for use within Microsoft-centric environments using .Net and SQL Server.</p>
    <p><a href="https://code.google.com/p/otter-wiki/">Get the source</a> | Version @System.Reflection.Assembly.GetAssembly(typeof(Otter.Controllers.ArticleController)).GetName().Version.ToString()</p>
  </div>
</body>
</html>
