@model Otter.Models.ArticleReadModel
@{
  ViewBag.Title = Model.Title;
}
@if (Model.Tags.Any())
{
  <div class="tags">
    @foreach (var tag in Model.Tags)
    {
      <span class="label label-default">@Html.ActionLink(tag, "Tagged", new { id = tag })</span>
    }
  </div>
}
<h1>@ViewBag.Title</h1>
<div class="row">
  <div id="article-content" class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
    @Html.Raw(Model.Html)
    @if (this.Model.Attachments.Any())
    {
      <div class="otter-attachment">
        <div class="row">
          <div class="col-md-1 visible-md-block visible-lg-block">
            <img src="~/Content/images/attachment.png" width="40" height="40" alt="attachments" />
          </div>
          <div class="col-md-11">
            <header>@string.Format("{0} attachment{1}:", this.Model.Attachments.Count(), this.Model.Attachments.Count() == 1 ? string.Empty : "s")</header>
            @{Html.RenderPartial("Attachments", this.Model.Attachments);}
          </div>
        </div>
      </div>
    }
    <p class="text-muted"><small>@string.Format("Revision {0:N0}; last updated {1:g}{2}", Model.Revision, Model.UpdatedWhen, string.IsNullOrEmpty(Model.UpdatedBy) ? string.Empty : " by " + Model.UpdatedByDisplayName ?? Model.UpdatedBy)</small></p>
  </div>
  <div class="hidden-print col-lg-2 col-md-2 col-sm-3 hidden-xs">
    <div class="list-group otter-manage-article" data-spy="affix" data-offset-top="100">
      <div class="list-group-item bg-primary otter-bg-primary">Manage article</div>
      <a class="list-group-item" href="@Url.Action("Edit", new { id = Model.UrlTitle })"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</a>
      <a class="list-group-item" href="@Url.Action("History", new { id = Model.UrlTitle })"><span class="glyphicon glyphicon-time"></span>&nbsp;View history</a>
    </div>
  </div>
</div>
@section scripts
{
  <script type="text/javascript" src="@Url.Content("~/Scripts/content-format.js")"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      applyContentFormat($("#article-content"));
    });
  </script>
}
@section collapsed_navlinks
{
  <li class="hidden-sm hidden-md hidden-lg">@Html.ActionLink("Edit article", "Edit", new { id = Model.UrlTitle })</li>
  <li class="hidden-sm hidden-md hidden-lg">@Html.ActionLink("View article history", "History", new { id = Model.UrlTitle })</li>
}