<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/main.css")" />
  <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
  @RenderSection("head", false)
</head>
<body>
  <form action="@Url.Action("Search", "Article")" method="get">
  <div id="search">
    <input type="text" id="query" name="query" />
    <input type="submit" value="Search" /></div>
  </form>
  @RenderBody()
</body>
</html>
